{% raw %}
{% extends "base.html" %}
{% block head_title %} Events {% endblock %}

{% block content %}
	<div class="row">
		    {% if object_list %}
		        
		        <table>
    	            <tr>
    	                <th>Event</th>
    	                <th>Location</th>
    	                <th>Date</th>
    	                <th>Time</th>
    	            </tr>        			  
	                {% for obj in object_list %}
    	                <tr>
    	                    <td>{{ obj.title }}</td>
    	                    <td>{{ obj.location }}</td>
    	                    <td>{{ obj.date }}</td>
    	                    <td>{{ obj.time }}</td>
    	                </tr>
	                {% endfor %}
	            </table>
	            		        
		    {% else %}
		   	
		   	    <div style="background-color:red">
			       <p>Sorry No Testimonials Added!! </p>
			    </div>
		    
		    {% endif %}
	</div> 
{% endblock %}
{% endraw %}
